@import url('https://fonts.googleapis.com/css?family=Podkova|Spectral|Cousine');

html, body {
  font-size: 20px;
}

html {
  background: #f9fbf5;
}
body {
  background: white;
  margin: 0 auto;
  max-width: 60rem;
  padding: 2em;
}

h1, h2, h3, h4 {
  font-family: 'Spectral', serif;
}

a, p {
  font-family: 'Podkova', serif;
}

pre, code {
  font-family: 'Cousine', monospace;
}

pre {
  font-size: 0.92rem !important;
  white-space: pre-wrap;
  background: #fff2d2;
  padding: 1em;
}

@media only screen and (max-width: 500px) {
  pre {
    font-size: 0.85rem !important;
  }
}
