@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif|Cousine');

html, body {
  font-size: 19px;
}

html {
  background: #f9fbf5;
  font-family: 'PT Sans', sans-serif;
}
body {
  background: white;

  min-width: 18rem;
  max-width: 37rem;

  margin-top: -1px;
  padding: 1px 2em 40em 25rem;
}

#TOC {
  position: fixed;
  left: 0;
  top: 0;
  width: 23rem;
  height: 100vh;

  background: white;
  border-right: 1px solid gray;

  overflow-y: auto;
  overflow-x: hidden;
  font-size: 85%;
}

#TOC ul {
  list-style-type: decimal;
}

#TOC li {
  margin-bottom: 1em;
  padding-right: .5em;
}

h1, h2, h3, h4 {
  font-family: 'PT Serif', serif;
  color: #575757;
}

h1 {
  line-height: .85;
  font-size: 180%;
  max-width: 26rem;
  letter-spacing: -.04rem;
  margin-top: 2.1rem;
}

a, p {
}

p {
  color: #2a2a2a;
  line-height: 1.2;
}

pre, code {
  font-family: 'Cousine', monospace;
}

pre {
  white-space: pre-wrap;
  background: #272727;
  color: #cfcfcf;
  padding: 1em;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  pre {
    font-size: 0.75rem !important;
  }
  #TOC {
    width: 18rem;
  }
  body {
    padding-left: 20rem;
  }
}

@media screen and (min-width: 801px) {
  pre {
    font-size: 0.92rem !important;
  }
}
